[mysqld]
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid

lower_case_table_names = 1
skip-name-resolve
skip_external_locking

max_connections = 1000
max_connect_errors = 6000    
back_log = 600

open_files_limit = 8192
table_open_cache = 1000
max_allowed_packet = 4M
max_heap_table_size = 16M
tmp_table_size = 16M

read_buffer_size = 2M
read_rnd_buffer_size = 8M
sort_buffer_size = 8
join_buffer_size = 8M
thread_cache_size = 64
query_cache_size = 8M
query_cache_limit = 2M
key_buffer_size = 8M
ft_min_word_len = 4

server-id = 111
log-bin = mysql-bin
binlog_format = mixed
expire_logs_days = 30
binlog_cache_size = 1M
#log_error = /var/log/mysql/mysql-error.log

slow_query_log = ON
long_query_time = 1
slow_query_log_file = /var/lib/mysql/mysql-slow.log

default_storage_engine = InnoDB
innodb_file_per_table = 1
innodb_open_files  = 400
innodb_buffer_pool_size = 128M
innodb_write_io_threads = 4
innodb_read_io_threads = 4
innodb_thread_concurrency = 0
innodb_purge_threads = 1
innodb_flush_log_at_trx_commit = 1                                  
innodb_log_buffer_size = 8M
innodb_log_file_size = 48M
innodb_log_files_in_group = 2
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 100
bulk_insert_buffer_size = 8M
myisam_sort_buffer_size = 8M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1

interactive_timeout = 28800
wait_timeout = 28800